// Font Family
$font-main: 'Roboto', sans-serif;
$font-title: "Unna", serif;
$rufina: 'Rufina', serif;

    
// text Colors ---------------
$white: #ffffff;
$black: #000000;
$grey: #7e7e7e;

// Theme Color
$theme-color-main: #E2B04D;
$theme-color-main2: #E2B04D;
$body-background:#003246;

// Responsive Variables 
$xxl-layout : 'only screen and (max-width: 1600px)';
$xx-layout : 'only screen and (min-width: 1366px) and (max-width: 1600px)';
$xl-layout : 'only screen and (min-width: 1200px) and (max-width: 1365px)';
$lg-layout : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs-layout:'only screen and (max-width: 767px)';
$sm-layout: 'only screen and (min-width: 576px) and (max-width: 767px)';
$ms-layout:'only screen and (max-width: 480px)';
$lg2-layout:'only screen and (max-width: 1024px)';
$lg3-layout:'only screen and (max-width: 992px)';
$sm2-layout:'only screen and (max-width: 540px)';
$ms2-layout:'only screen and (max-width: 320px)';



